.Header {
  // Convert to uppercase
  text-transform: uppercase;

  min-height: 10vh;
  padding: 5vh 0;

  background-color: black;
  color: rgb(48, 165, 255);

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 600;
  font-size: 23px;
  font-family: "Roboto", sans-serif;
}

@media screen and (min-width: 768px) {
  .Header {
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
  }
}
