
.menu {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 15%;
    padding-top: 75px;

    button {
        padding: 10px;
        font-size: medium;
        background-color: rgb(84, 84, 252);
        color: white;
        border: 0px;
        margin-bottom: 15px;
        .link {
            text-decoration: none;
            color: white;
        }
    }
    button:hover {
        font-weight: 600;
    } 
}
