.App {
  text-align: center;
}

.App-header {
  min-height: 30vh;
  background-color: #40454e;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-body {
  background-color: #282c34;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.select {
  padding: 150px;
}
